# 0.0 Import

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.core.display import HTML
import inflection

## 0.1 Helper Functions

In [19]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline

    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [20]:
jupyter_settings()

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

## 0.2 Loading Data

In [7]:
# Loading Dataset
df_raw = pd.read_csv('../data/df_ready.csv')

In [10]:
df_raw.sample()

,Unnamed: 0,Date_imp,Date_imp_d,Cluster,Category_name,name,price,disc_price,merchant,condition,...,sourceURLs,weight,Date_imp_d.1,Day_n,month,month_n,day,Week_Number,Zscore_1,price_std
19222,24971,2017-07-27 03:00:00,2017/07/27,38,"networking, modem, router",Details About New Arris Surfboard 16x Cable Mo...,174.95,174.95,ebay.com,New,...,http://www.ebay.com/itm/ARRIS-SURFBOARD-SBG690...,3.55 pounds,2017/07/27,Thursday,7,July,27,30,1.106542,15.959317

In [8]:
df_raw.columns

Index(['Unnamed: 0', 'Date_imp', 'Date_imp_d', 'Cluster', 'Category_name',
       'name', 'price', 'disc_price', 'merchant', 'condition',
       'Disc_percentage', 'isSale', 'Imp_count', 'brand', 'p_description',
       'currency', 'dateAdded', 'dateSeen', 'dateUpdated', 'imageURLs',
       'manufacturer', 'shipping', 'sourceURLs', 'weight', 'Date_imp_d.1',
       'Day_n', 'month', 'month_n', 'day', 'Week_Number', 'Zscore_1',
       'price_std'],
      dtype='object')

# 1.0 Data Description

In [9]:
df1 = df_raw.copy()

## 1.1 Rename Columns

In [21]:
# Mudar para snake case
old_cols = ['Unnamed: 0', 'Date_imp', 'Date_imp_d', 'Cluster', 'Category_name',
       'name', 'price', 'disc_price', 'merchant', 'condition',
       'Disc_percentage', 'isSale', 'Imp_count', 'brand', 'p_description',
       'currency', 'dateAdded', 'dateSeen', 'dateUpdated', 'imageURLs',
       'manufacturer', 'shipping', 'sourceURLs', 'weight', 'Date_imp_d.1',
       'Day_n', 'month', 'month_n', 'day', 'Week_Number', 'Zscore_1',
       'price_std']

snake_case = lambda x: inflection.underscore(x)

new_cols = list( map(snake_case, old_cols))
df1.columns = new_cols

## 1.2 Data Dimensions

In [23]:
print("Número de linhas: {}".format(df1.shape[0]))
print("Número de colunas: {}".format(df1.shape[1]))

Número de linhas: 23151
Número de colunas: 32

## 1.3 Data Types

In [24]:
df1.dtypes

unnamed: 0           int64
date_imp            object
date_imp_d          object
cluster              int64
category_name       object
name                object
price              float64
disc_price         float64
merchant            object
condition           object
disc_percentage    float64
is_sale             object
imp_count            int64
brand               object
p_description       object
currency            object
date_added          object
date_seen           object
date_updated        object
image_ur_ls         object
manufacturer        object
shipping            object
source_ur_ls        object
weight              object
date_imp_d.1        object
day_n               object
month                int64
month_n             object
day                  int64
week_number          int64
zscore_1           float64
price_std          float64
dtype: object

## 1.4 Check NA

In [26]:
df1.isna().sum()

unnamed: 0             0
date_imp               0
date_imp_d             0
cluster                0
category_name          0
name                   0
price                  0
disc_price             0
merchant               0
condition              0
disc_percentage        0
is_sale                0
imp_count              0
brand                  0
p_description          0
currency               0
date_added             0
date_seen              0
date_updated           0
image_ur_ls        22696
manufacturer       10639
shipping           11497
source_ur_ls        4930
weight                68
date_imp_d.1           0
day_n                  0
month                  0
month_n                0
day                    0
week_number            0
zscore_1             171
price_std              0
dtype: int64